body {
	margin: 10px;
	padding: 20px;
	font-family: Arial, sans-serif;
	text-align: center;
}

h2{
	font-size: 40px;
}
h3 {
	font-size: 35px;
}
header {
	background-color: #1f1f1f;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: #d1d1d1;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery img {
	width: 500px;
	height: 400px;
	object-fit: cover;
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 20px;
}

form input {
padding: 20px;
}
form textarea {
	display: center;
	width: 100px;
	padding: 20px;
	margin-bottom: 20px;
	border: black;
	border-radius: 2px;
}

form button:hover {
    background-color: var(rgb(102, 95, 95));
}

#social-media img {
    border-radius: 10rem;
    background-color: var(--white);
    transition: all ease .3s;
    margin: 1rem;
    max-height: 50px;
    
}

#social-media a {
    text-decoration: none;
}

#facebook:hover {
    background-color: blue;
}

#instagram:hover {
    background-color: rgb(255, 255, 255);
}